p{
    background-color: blue;
    text-align: center;
    color: white;
}

h1{
    background-color: cadetblue;
    text-align: justify;
    color: white;
}
body{
    background-image: url(../img/space-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}